# .clang-format
BasedOnStyle: Google
IndentWidth:   4
ColumnLimit:   100
DerivePointerAlignment: false
PointerAlignment: Left
SortIncludes:   false

AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never

BinPackParameters: false
BinPackArguments: false