[submodule "dash/drivers/can"]
	path = dash/drivers/can
	url = https://github.com/danielk125/nfr-can-library.git
[submodule "dash/drivers/neo-pixel"]
	path = dash/drivers/neo-pixel
	url = https://github.com/jazzycamel/ws28128-rpi
